/* 
    Style Sheet
*/

:root
{
    --banner-height: 80px;
    --left-padding: 20px; 

    --palette-accent1: rgb(0, 0, 0);
    --palette-accent2: rgb(255, 255, 255);
    --palette-accent3: #f1f1f1;
    --palette-accent4: #888;

    --translucent-accent1: rgba(0,0,0,.4);
    --translucent-accent2: rgba(0,0,0,.2);
    --translucent-accent3: rgba(0,0,0,.19);

    --blue: #1482d0;
    --dark-blue: #0a5081;

    --red: #d01414;
    --dark-red: #910000;

    --yellow: #e7b324;
    --dark-yellow: #c79d14;

}

/* 
    Main elements 
*/

header
{
    top: 0;
    right: 0;
    left: 0;
    left: 0;

    width: 100%;
    height: var(--banner-height);

    background-color: var(--palette-accent1);
}

body
{
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;
    margin: auto;

    background-color: var(--palette-accent2);
}

/* 
        Text 
*/

.title
{
    position: absolute;
    top: 0;

    padding-left: var(--left-padding);
}

h1
{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;

    color: var(--palette-accent2);
}

h2
{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;

    color: var(--palette-accent2);
}

h3
{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;

    color: var(--palette-accent2);
}


ul
{
    list-style-type: none;
}

li
{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0 0 10px 0;

    color: var(--palette-accent1);
}

p
{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

    color: var(--palette-accent1);
}

.black
{
    color: var(--palette-accent1);
}

label
{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

    color: var(--palette-accent1);
}

.sort-by-label{
    float: right;
    margin-right: 10px;
    margin-top: 7px;

    color: var(--palette-accent1);
}

/* 
        Main
*/

/* Options bar */

.houses_title
{
    display: inline;

    margin-left: var(--left-padding);
}


/* Template house card */

.house
{
    margin: 20px;
    padding: 10px;

    border-radius: 20px;
    background: var(--palette-accent3);
}

/* Section for house cards */


.options_bar
{
    position: absolute;
    top: var(--banner-height);

    display: table-cell;

    width: 100%;
    height: 60px;
    margin: auto;

    vertical-align: middle;

    background-color: var(--palette-accent3);
}

.options_bar-center
{
    position: absolute;
    top: 50%;

    width: 100%;
    margin: auto;

    transform: translateY(-50%);
}


.house-pane
{
    position: absolute;
    top: 140px;

    width: 100%;
}


/* 
    House modal 
*/

.modal
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    display: none; 
    overflow: auto; 

    width: 100%; 
    height: 100%; 
    padding-top: 100px; 

    background-color: var(--palette-accent1); 
    background-color: var(--translucent-accent1);
}

.modal-content
{
    position: relative;

    width: 80%;
    margin: auto;
    padding: 0;

    -webkit-animation-name: animate_top;
            animation-name: animate_top;
    -webkit-animation-duration: .4s;
            animation-duration: .4s;;

    border: 1px solid var(--palette-accent4);
    background-color: var(--palette-accent3);
    box-shadow: 0 4px 8px 0 var(--translucent-accent2),0 6px 20px 0 var(--translucent-accent3);
}

/* Modal header */

.modal-header
{
    padding: 2px 16px;

    color: var(--palette-accent2);
    background-color: var(--palette-accent3);
}

/* Modal body */

.modal-body
{
    padding: 2px 16px;
}

/* Modal footer */

.modal-footer
{
    padding: 10px 20px;

    color: var(--palette-accent2);
    background-color: var(--palette-accent3);
}

/* 
    Select
*/

.sort-by
{
    top: -5px;
    right: 20px;

    float: right;

    margin-right: 10px;
    padding: 10px;

    color: var(--palette-accent2);
    border: none;
    border-radius: 25px;
    background-color: var(--blue);
}

/* 
    Buttons
*/

.top_button
{
    top: -5px;
    right: 20px;

    float: right;

    margin-right: 10px;
    padding: 10px;

    color: var(--palette-accent2);
    border: none;
    border-radius: 25px;
    background-color: var(--blue);
}


.top_button:hover
{
    background-color: var(--dark-blue);
}

.button
{
    padding: 10px;

    color: var(--palette-accent2);
    border: none;
    border-radius: 25px;
}

.blue_button
{
    background-color: var(--blue);
}

.blue_button:hover
{
    background-color: var(--dark-blue);
}

.red_button
{
    background-color: var(--red);
}

.red_button:hover
{
    background-color: var(--dark-red);
}

.yellow_button
{
    background-color: var(--yellow);
}

.yellow_button:hover
{
    background-color: var(--dark-yellow);
}

.close
{
    font-size: 28px;
    font-weight: bold;

    float: right;

    color: var(--palette-accent2);
}

.close:hover,
.close:focus
{
    cursor: pointer;
    text-decoration: none;

    color: var(--palette-accent1);
}

input[type=text]
{
    box-sizing: border-box;
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
}

.edit-button
{
    padding: 10px;
    margin-left: 5px;
}

/* 
        Animations
*/

@-webkit-keyframes animate_top
{
    from
    {
        top: -300px; opacity: 0;
    }
    to
    {
        top: 0; opacity: 1;
    }
}

@keyframes animate_top
{
    from
    {
        top: -300px; opacity: 0;
    }
    to
    {
        top: 0; opacity: 1;
    }
}